.articles_part{
    width: 80%;
}

.article_list_title{
    margin: 70px 0 40px;
    width: fit-content;
    position: relative;
    font-size: 30px;
    font-weight: 800;
}

.article_list_title::after{
    display: block;
    content: "";
    position: absolute;

    z-index: 70;
    top: 120%;
    width: 120%;
    height: 2px;
    background-color: #e5e5e5;
    border-radius: 15px;
}
.search_container{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 10px 0 15px;
}
.search_form{
    border: 1px solid #e5e5e5;
    display: flex;
    justify-content: flex-start;
    width: 50%;
}
.search_input{
    width: 100%;
    padding: 15px;
    border: 0;
}
.search_button{
    padding: 3px 10px;
    margin: 0;
    background-color: #ef5250;
    border: 0;
}
.search_button img{
    width: 30px;
}


.articles_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}
.article_container {
    width: 28%;
    margin: 0px 25px 20px 0px;
    text-decoration: none;
    color: #000;
    transition: all .2s linear;
}
.article_img {
    width: 100%;
    height: 180px;
    overflow: hidden;
    object-fit: cover;
    object-position: bottom;
    transition: all .2s linear;

}
.article_title {
    font-size: 20px;
    font-weight: 500;
}
.article_info_wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    font-weight: 500;
    color: #565656;
}

.article_container:hover 
.article_title{
    text-decoration: underline;
}
.article_container:hover
.article_img{
    opacity: 0.5;
}

.article_views{
    display: flex;
    align-items: center;
}

.article_views img{
    max-width: 30px;
    opacity: .6;
    margin-right: 7px;
}

@media (max-width: 1440px) {
    .article_list_title::after{
        width: 100%;
    }
    .articles_part{
        width: 100%;
    }
    .articles_wrapper{
        justify-content: center;
    }
    .search_form{
        width: 100%;
    }
    .article_container{
        width: 45%;
    }
}

@media (max-width: 560px) {
    .article_container{
        width: 100%;
    }
}