{% extends 'main/layout.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'main/css/article.css' %}">
<link rel="stylesheet" href="{% static 'main/css/article-list.css' %}">
{% endblock %}
{% block title %}Новини{% endblock %}
{% block content %}

<div class="wrapper">
    <div class="content_sep">
        <section class="articles_part">
            <h1 class="article_list_title">
                Останні новини
            </h1>

            <div class="search_container">
                <form class="search_form" action="{% url 'search-news' %}" method="get">
                    <input class="search_input" type="search" name="q" placeholder="Пошук новини">
                    <button class="search_button" type="submit">
                        <img src="{% static 'main/icons/search.png' %}" alt="">
                    </button>
                </form>
            </div>

            <div class="articles_wrapper">
                {% for new in news %}
                    <a href="{% url 'news-detail' new.id %}" class="article_container">
                        {% if new.icon %}
                            <img src="{{ new.icon.url }}" class="article_img" alt="">
                        {% elif new.icon_url %}
                            <img src="{{ new.icon_url }}" class="article_img" alt="">
                        {% endif %}

                        <div class="article_title">{{ new.name }}</div>
                        <div class="article_info_wrapper">
                            <div class="article_date">{{ new.date|date:'H:i, d.m.y' }}</div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </section>

        <div class="sidebar">
            <div class="sidebar_title">
                Корисна інформація
            </div>
            {% for article in articles %}
                <a href="{% url 'articles-detail' article.id %}" class="sidebar_item">
                        <div class="sidebar_item_title">{{ article.name }}</div>
                    <div class="sidebar_item_info">
                        <div class="sidebar_item_date">{{ article.date|date:'H:i, d.m.y' }}</div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
